
<a href="/image?imageIndex={prevIndex}" class="btn btn-sm btn-light"> &#9198;</a>
{filename}
<a href="/image?imageIndex={nextIndex}" class="btn btn-sm btn-light">&#9197; </a>
<hr>
<div style="position: relative;">
    <div id="imageContainer">
        <img src="{imageUrl}" id="picture" class="absolute"/>
        [START frame]
        <div class="frame" style="left: {left}px; top: {top}px; width: {width}px; height: {height}px;">
            <div class="counter">{counter}</div>
        </div>
        [END frame]
    </div>
    <div id="formContainer">
        {imageTypeForm}
        [START form]
        <form method="post">
            <div style="float: left; width:35px;">{counter}</div>
            <input type="submit" class="btn btn-sm btn-light" style="float: right;" value="&#128190;"/>
            <a href="/image?imageIndex={imageIndex}&removeLabelIndex={labelIndex}" class="btn btn-sm btn-danger" style="float: right;">&#9003;</a>
            {selectLabel}
            <input type="hidden" name="imageIndex" value="{imageIndex}" />
            <input type="hidden" name="frame" value='{frame}' />
        </form>
        [END form]
    </div>
</div>
