
    <div class="container">
        <div class="row">
            <div class="col col-10">
            <h5 class="tomieqFont float-end mt-3"> AI Tool</h5>
            <h1 class="tomieqFont">YOLO dataset</h1>
            
            <hr>
            </div>
        </div>
        <div class="row">
            <div class="col col-10">
                [START error]
                <div class="alert alert-danger" role="alert">
                  {error}
                </div>
                [END error]
                <a href="/labels" class="btn btn-info btn-sm">Labels</a>
                <a href="/images" class="btn btn-info btn-sm">Images</a>
                <hr>
                {content}
            </div>
        </div>
    </div>
    <script src="/script.js?v=1"></script>


